
body {
    background-color: #6AA690; 
    padding: 25px;
     }

/*Button Styles*/

.subscribe-container button{
    background-color: #D96248;
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    font-family: Helvetica;
    font-weight: semi-bold;
    
}

input {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    text-align: left;
    padding-left: 15px;
}
    
input::placeholder {
    color: #8f8d8d;
    font-size: 15px;  
    padding: 25px 35px; 
    border: none; 
    border-radius: 25px; 
    font-family: Helvetica;
    font-weight: lighter;
}


/* Footer Container */
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 20px; /* Space between columns */
    padding: 20px;
    background-color: #6AA690; 
    color: black; /* black text */
    text-align: left; /* Align text to the left */
    font-family: Helvetica,
}

li {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: normal;
    color: black;
    padding: 10px 0px;
}

/* Footer Sections */
.footer-section {
    display: flex;
    flex-direction: column;
}

/* Remove bullet points from lists */
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style links */
.footer-section a {
    color: black; 
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

img {
    width: 200px;
    height: auto;
}

h2, h3 {
    font-family: Helvetica;
    font-weight: normal;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
    font-weight: normal;
}
